@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer__svg {
    top: -2rem;

}

.footer {
    background-color: #2a223a;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    padding: 1rem;

    @include m.Jphone {
        flex-direction: column;
        gap: 2rem;
    }


    /* From Uiverse.io by svqantonio */
    .main {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        transform: scale(.8);
    }

    .up {
        display: flex;
        flex-direction: row;
        gap: 0.5em;
    }

    .down {
        display: flex;
        flex-direction: row;
        gap: 0.5em;
    }

    .card1 {
        width: 90px;
        height: 90px;
        outline: none;
        border: none;
        background: white;
        border-radius: 90px 5px 5px 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        transition: .2s ease-in-out;
    }

    .instagram {
        margin-top: 1.5em;
        margin-left: 1.2em;
        fill: #cc39a4;
    }

    .card2 {
        width: 90px;
        height: 90px;
        outline: none;
        border: none;
        background: white;
        border-radius: 5px 90px 5px 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        transition: .2s ease-in-out;
    }

    .github {
        margin-top: 1.5em;
        margin-left: -.9em;
    }

    .card3 {
        width: 90px;
        height: 90px;
        outline: none;
        border: none;
        background: white;
        border-radius: 5px 5px 5px 90px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        transition: .2s ease-in-out;
    }

    .whatsapp {
        margin-top: -.6em;
        margin-left: 1.2em;
        fill: #00ff00;
    }

    .card4 {
        width: 90px;
        height: 90px;
        outline: none;
        border: none;
        background: white;
        border-radius: 5px 5px 90px 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        transition: .2s ease-in-out;
    }

    .gmail {
        margin-top: -.9em;
        margin-left: -1.2em;
        fill: #f14336;
    }

    .card1:hover { 
        cursor: pointer;
        scale: 1.1;
        background-color: #cc39a4;
    }

    .card1:hover .instagram {
        fill: white;
    }

    .card2:hover {
        cursor: pointer;
        scale: 1.1;
        background-color: black;
    }

    .card2:hover .github {
        fill: white;
    }

    .card3:hover {
        cursor: pointer;
        scale: 1.1;
        background-color: #00ff00;
    }

    .card3:hover .whatsapp {
        fill: white;
    }

    .card4:hover {
        cursor: pointer;
        scale: 1.1;
        background-color: #FF0004;
    }

    .card4:hover .gmail {
        fill: white;
    }

    // --------------------------------------------
    // Up button
    .button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: rgb(20, 20, 20);
        border: none;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
        cursor: pointer;
        transition-duration: 0.3s;
        overflow: hidden;
        position: relative;
        transform: scale(1.3);
        animation: footerMov 1.5s ease-in-out infinite alternate;
    }

    @keyframes footerMov {
        from {
            transform: translatey(0) scale(1);
        }

        to {
            transform: translatey(-2rem) scale(1.1);
        }
    }

    .svgIcon {
        width: 12px;
        transition-duration: 0.3s;
    }

    .svgIcon path {
        fill: white;
    }

    .button:hover {
        width: 140px;
        border-radius: 50px;
        transition-duration: 0.3s;
        background-color: #262338;
        align-items: center;
    }

    .button:hover .svgIcon {
        /* width: 20px; */
        transition-duration: 0.3s;
        transform: translateY(-200%);
    }

    .button::before {
        position: absolute;
        bottom: -20px;
        content: "Back to Top";
        color: white;
        /* transition-duration: .3s; */
        font-size: 0px;
    }

    .button:hover::before {
        font-size: 13px;
        opacity: 1;
        bottom: unset;
        /* transform: translateY(-30px); */
        transition-duration: 0.3s;
    }

    //-----------------------------------------------------------
    // Mail button

    .tooltip-container {
        margin: 2rem 0;
        height: 70px;
        width: 110px;
        border-radius: 5px;
        background-color: #fff;
        background-image: linear-gradient(
          to left bottom,
          #f2f5f8,
          #ecf1f2,
          #e7eceb,
          #e3e7e4,
          #e1e2de
        );
        border: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.151);
        position: relative;
        transition: transform 0.3s ease;
      }
      
      .tooltip-container::before {
        position: absolute;
        content: "";
        top: -50%;
        clip-path: polygon(50% 0, 0 100%, 100% 100%);
        border-radius: 5px;
        background-color: fff;
        background-image: linear-gradient(
          to left bottom,
          #f2f5f8,
          #e4eaec,
          #d8dfde,
          #cdd3cf,
          #c5c7c1
        );
        width: 100%;
        height: 50%;
        transform-style: preserve-3d;
        transform: perspective(1000px) rotateX(-150deg) translateY(-110%);
        transition: transform 0.3s ease;
      }
      
      .tooltip-container .text {
        color: rgb(32, 30, 30);
        font-weight: bold;
        font-size: 40px;
      }
      
      .tooltip {
        position: absolute;
        top: -20px;
        opacity: 0;
        background: linear-gradient(-90deg, rgba(0, 0, 0, 0.05) 1px, white 1px),
          linear-gradient(rgba(0, 0, 0, 0.05) 1px, white 1px),
          linear-gradient(-90deg, rgba(0, 0, 0, 0.04) 1px, white 1px),
          linear-gradient(rgba(0, 0, 0, 0.04) 1px, white 1px),
          linear-gradient(white 3px, #f2f2f2 3px, #f2f2f2 78px, white 78px),
          linear-gradient(-90deg, #aaa 1px, white 1px),
          linear-gradient(-90deg, white 3px, #f2f2f2 3px, #f2f2f2 78px, white 78px),
          linear-gradient(#aaa 1px, white 1px), #f2f2f2;
        background-size:
          4px 4px,
          4px 4px,
          80px 80px,
          80px 80px,
          80px 80px,
          80px 80px,
          80px 80px,
          80px 80px;
        padding: 5px 10px;
        border: 1px solid rgb(206, 204, 204);
      
        height: 70px;
        width: 110px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: 0.2s;
        pointer-events: none;
        letter-spacing: 0.5px;
        font-size: 18px;
        font-weight: 600;
        text-shadow: 10px salmon;
      }
      .tooltip-container:hover {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      
      .tooltip-container:hover::before {
        transform: rotateY(0);
        background-image: none;
        background-color: white;
      }
      
      .tooltip-container:hover .tooltip {
        top: -90px;
        opacity: 1;
        transition-duration: 0.3s;
      }
      

}